/*CSS for a really simple responsive grid*/
.container { width: 100%; margin: 0 auto; }
.container .row { float: left; clear: both; width: 100%; }
.container .col { float: left; margin: 0 0 1.2em; padding-right: 1.2em; padding-left: 1.2em; }
.container .col.one, .container .col.two, .container .col.three, .container .col.four, .container .col.five, .container .col.six, .container .col.seven, .container .col.eight, .container .col.nine, .container .col.ten, .container .col.eleven, .container .col.twelve { width: 100%; }


@media screen and (min-width: 767px) {
  .container{width: 100%; max-width: 1080px; margin: 0 auto;}
  .container .row{width:100%; float:left; clear:both;}
  .container .col{float: left; margin: 0 0 1em; padding-right: .5em; padding-left: .5em;}
  .container .col.one { width: 8.33%; }
  .container .col.two { width: 16.66%; }
  .container .col.three { width: 24.99%; }
  .container .col.four { width: 50%; }
  .container .col.five { width: 41.65%; }
  .container .col.six { width: 49.98%; }
  .container .col.seven { width: 58.31%; }
  .container .col.eight { width: 66.64%; }
  .container .col.nine { width: 74.97%; }
  .container .col.ten { width: 83.3%; }
  .container .col.eleven { width: 91.65%; }
  .container .col.tweleve { width: 100%; }
}

/*All the button styles*/

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
a{text-decoration:none;}

/********************
GENERIC BUTTON STYLES
********************/
.btn {font-size: 18px; white-space:nowrap; width:100%; padding:.8em 1.5em; font-family: Open Sans, Helvetica,Arial,sans-serif; line-height:18px; display: inline-block;zoom: 1; color: #fff; text-align: center; position:relative; -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; transition: border .25s linear, color .25s linear, background-color .25s linear;}

/*SEA GREEN BUTTON STYLES*/
.btn.btn-sea{background-color: #08bc9a; border-color: #08bc9a; -webkit-box-shadow: 0 3px 0 #088d74; box-shadow: 0 3px 0 #088d74;}
.btn.btn-sea:hover{background-color:#01a183;}
.btn.btn-sea:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*DARK BLUE BUTTON STYLES*/
.btn.btn-dark-blue{background-color: #237fbc; border-color: #237fbc; -webkit-box-shadow: 0 3px 0 #1a5c87; box-shadow: 0 3px 0 #1a5c87;}
.btn.btn-dark-blue:hover{background-color:#166ea8;}
.btn.btn-dark-blue:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*RED/ROUGE BUTTON STYLES*/
.btn.btn-rouge{background-color: #c0392b; border-color: #c0392b; -webkit-box-shadow: 0 3px 0 #8f2a1f; box-shadow: 0 3px 0 #8f2a1f;}
.btn.btn-rouge:hover{background-color:#ac3420;}
.btn.btn-rouge:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*DARK BUTTON STYLES*/
.btn.btn-dark{background-color: #2c3d51; border-color: #2c3d51; -webkit-box-shadow: 0 3px 0 #080c0f; box-shadow: 0 3px 0 #080c0f;}
.btn.btn-dark:hover{background-color:#202d3d;}
.btn.btn-dark:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*DARK BUTTON STYLES*/
.btn.btn-orange{background-color: #f59e00; border-color: #f59e00; -webkit-box-shadow: 0 3px 0 #b37401; box-shadow: 0 3px 0 #b37401;}
.btn.btn-orange:hover{background-color:#dd9003;}
.btn.btn-orange:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*SUNFLOWER BUTTON STYLES*/
.btn.btn-sunflower{background-color: #f2c500; border-color: #f2c500; -webkit-box-shadow: 0 3px 0 #b19001; box-shadow: 0 3px 0 #b19001;}
.btn.btn-sunflower:hover{background-color:#e3ba02;}
.btn.btn-sunflower:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*RED BUTTON STYLES*/
.btn.btn-red{background-color: #ea4f37; border-color: #ea4f37; -webkit-box-shadow: 0 3px 0 #b13825; box-shadow: 0 3px 0 #b13825;}
.btn.btn-red:hover{background-color:#a53422;}
.btn.btn-red:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*CONCRETE BUTTON STYLES*/
.btn.btn-concrete{background-color: #7e8c8d; border-color: #7e8c8d; -webkit-box-shadow: 0 3px 0 #4e5b5c; box-shadow: 0 3px 0 #4e5b5c;}
.btn.btn-concrete:hover{background-color:#6a7879;}
.btn.btn-concrete:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/**********
Icon styles
**********/
.btn i {padding-right:0.8em; line-height:22px;}
.icon-only{padding: 1em;}
.icon-only i{padding-right:0; font-size:22px; line-height:22px; }

#header {
    background-color: #000000;
}

body{
    font-family: Inconsolata, Monospace;
    background-color: #333333;
    color: #cccccc;
}

.btn a { color: #ffffff }
a {
  color: #6688aa;
}



  h1 {
    font-size:24px;
    font-weight:normal;
    width: 12em;
    margin: 0 auto;
    margin-left: auto; margin-right: auto; display: block; width: 30%;
    padding-top: 5%;
  }
  .logo {
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto;
      display: block;
      width: 40%;
      padding-bottom: 2%;
      padding-top: 2%;
  }
