<html>
<head>
    <title>pibox::asdf</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <script>
    $(document).ready(function() {
        function setPlugStatus(el) {
            var plug = $(el).attr('scbta');

            console.log("Updating " + plug);
            $.get('/plugs/status/' + plug, function(data, st) {
                var status = JSON.parse(data).status;
                console.log(status);
                obj = $(el)
                if (status) {
                    obj.removeClass('fa-times');
                    obj.removeClass('sc-but-unselected');

                    obj.addClass('fa fa-check');
                    obj.addClass('sc-but-selected');
                } else {
                    obj.removeClass('fa fa-check');
                    obj.removeClass('sc-but-selected');

                    obj.addClass('fa fa-times');
                    obj.addClass('sc-but-unselected');
                }
            });
        }

        $('.plugbtn').each(function() {
            var plug = $(this).attr('scbta');
            console.log('Plug ' + plug);
            setPlugStatus(this);
        });

        $('.plugbtn').click(function() {
            var plug = $(this).attr('scbta');
            var outer = this;
            $.get('/plugs/toggle/' + plug, function(data, st) {
                setPlugStatus(outer);
            });
        });
    });
    </script>
<head>

<body>

<div id="container">
    <div class="row">
    {% for plug in plugs %}
        <div class="col-6 plugbtn" scbta="{{ plug }}"></div>
    {% endfor %}
    </div>
</div>

</body>
