
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>orangepizero.local</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
	<link href='{{ url_for('static', filename='common.css') }}' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="container"
		<div class='row'>
			<div class='col twelve'>
				<h1>welcome to <a href="">orangepizero.local</a></h1>
			</div>
		</div>
	</div>

	<div class="container"
		<div class='row'>
			<div class='col twelve'>
				<img class='logo' src="{{ url_for('static', filename='logo.svg') }}" width=20%></img>
			</div>
		</div>
	</div>

	<div class="container"
		<div class="row">
			<div class="col six">
				<a href="/vol" class="btn btn-sea"><i class="fa fa-music"></i>music</a>
			</div>

			<div class="col six">
				<a href="/plugs" class="btn btn-sea"><i class="fa fa-plug"></i>plugs</a>
			</div>
    </div>
	</div>

	<div class="container"
    <div class="row">
			<div class="col six">
				<a href="/tv" class="btn btn-sea"><i class="fa fa-television"></i>tv</a>
			</div>

			<div class="col six">
				<a href="/new" class="btn btn-sea"><i class="fa fa-times-circle"></i>new</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>
